<div>
	{{#linkTo 'day' controller.dateNow.year controller.dateNow.month controller.dateNow.day }}Today{{/linkTo}}
</div>

<div class=" ">
	<div class=" year-bar ">
		{{#linkTo 'day' controller.yearPrev controller.monthSelected controller.daySelected}}Prev{{/linkTo}}
		<span class=" year ">{{controller.yearSelected}}</span>
		{{#linkTo 'day' controller.yearNext controller.monthSelected controller.daySelected}}
			<span class=" ">Next</span>
		{{/linkTo}}
	</div>
	<div class=" month-bar ">
		{{#linkTo 'day' controller.yearSelected controller.monthPrev controller.daySelected}}
			<span class=" ">Prev</span>
		{{/linkTo}}
		<span class=" month ">{{controller.monthName}}</span>
		{{#linkTo 'day' controller.yearSelected controller.monthNext controller.daySelected}}
			<span class=" ">Next</span>
		{{/linkTo}}
	</div>
</div>


<table class="">
	<thead>
		<tr>
			<th>
				<span title="Monday">Mo</span>
			</th>
			<th>
				<span title="Tuesday">Tu</span>
			</th>
			<th>
				<span title="Wednesday">We</span>
			</th>
			<th>
				<span title="Thursday">Th</span>
			</th>
			<th>
				<span title="Friday">Fr</span>
			</th>
			<th class=" week-end ">
				<span title="Saturday">Sa</span>
			</th>
			<th class=" week-end ">
				<span title="Sunday">Su</span>
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

		{{#each day in controller.daysInMonth}}
			{{#if day.day}}
				{{#if day.isCurrent}}
					<div>
					  <div style="background: red;">
						{{#linkTo 'day' controller.yearSelected controller.monthSelected day.day}}{{day.day}}{{/linkTo}}
						</div>
					</div>
				{{else}}
					<div>
						{{#linkTo 'day' controller.yearSelected controller.monthSelected day.day}}{{day.day}}{{/linkTo}}
					</div>
				{{/if}}
			{{else}}
					<div></div>
			{{/if}}
		{{/each}}



</br>
</br>
<a href="#"> GoTo Root</a>