<div class=" ">
	<div class=" year-bar ">
		<a class=" prev " title="Prev">
			<span class=" ">Prev</span>
		</a>
		<span class=" year ">2013</span>
		<a class=" next " title="Next">
			<span class=" ">Next</span>
		</a>
	</div>
	<div class=" month-bar ">
		<a class=" prev " title="Prev">
			<span class=" ">Prev</span>
		</a>
		<span class=" month ">September</span>
		<a class=" next " title="Next">
			<span class=" ">Next</span>
		</a>
	</div>
</div>


<table class="">
	<thead>
		<tr>
			<th>
				<span title="Monday">Mo</span>
			</th>
			<th>
				<span title="Tuesday">Tu</span>
			</th>
			<th>
				<span title="Wednesday">We</span>
			</th>
			<th>
				<span title="Thursday">Th</span>
			</th>
			<th>
				<span title="Friday">Fr</span>
			</th>
			<th class=" week-end ">
				<span title="Saturday">Sa</span>
			</th>
			<th class=" week-end ">
				<span title="Sunday">Su</span>
			</th>
		</tr>
	</thead>
	<tbody>
		
		{{#each day in controller.daysInMonth}}
			{{#if day.day}}
				{{#if day.isCurrent}}
					<div>
						<a  style="color: red;"href="#/year/{{unbound controller.yearSelected}}/month/{{unbound controller.monthSelected}}/day/{{unbound day.day}}">{{day.day}}</a>
					</div>
				{{else}}
					<div><a href="#/year/{{unbound controller.yearSelected}}/month/{{unbound controller.monthSelected}}/day/{{unbound day.day}}">{{day.day}}</a></div>
				{{/if}}
			{{else}}
					<div></div>
			{{/if}}
		{{/each}}

	</tbody>
</table>

</br>
</br>
<a href="#"> GoTo Root</a>