<div>
		<button {{action 'toToday'}} class="btn" style="width: 350px;">Today</button>
</div>

<div class=" ">
	<div class=" year-bar ">
			<button {{action 'toDate' controller.yearPrev controller.monthSelected controller.daySelected}} class="btn btn-default" style="width: 50px;">Prev</button>
		<span style="margin: 105px;">{{controller.yearSelected}}</span>
			<button {{action 'toDate' controller.yearNext controller.monthSelected controller.daySelected}} class="btn btn-default" style="width: 50px;">Next</button>
	</div>
	<div class=" month-bar ">
			<button {{action 'toDate' controller.yearSelected controller.monthPrev controller.daySelected}} class="btn btn-default" style="width: 50px;">Prev</button>
		<span style="margin: 90px;">{{controller.monthName}}</span>
			<button {{action 'toDate' controller.yearSelected controller.monthNext controller.daySelected}} class="btn btn-default" style="width: 50px;">Next</button>
	</div>
</div>

<div style="width: 350px;">
	<div style="width: 350px;">
		<span title="Monday" class="week-header">Mon</span>
		<span title="Tuesday" class="week-header">Tue</span>
		<span title="Wednesday" class="week-header">Wed</span>
		<span title="Thursday" class="week-header">Thu</span>
		<span title="Friday" class="week-header">Fri</span>
		<span title="Saturday" class="week-header">Sat</span>
		<span title="Sunday" class="week-header">Sun</span>
	</div>
		
	{{#each week in controller.daysByWeeks}}
			<div class="btn-group">
			{{#each date in week}}
				<button {{action 'toDate' controller.yearSelected controller.monthSelected date.day}} class="{{ unbound date.class }}" style="width: 50px; height: 30px;">
					{{date.day}}
				</button>	
			{{/each}}
			</div>
		{{/each}}

</div>


</br>
</br>
<a href="#"> GoTo Root</a>