<div>
	{{#linkTo 'day' controller.dateNow.year controller.dateNow.month controller.dateNow.day }}
		<button type="button" class="btn btn-default" style="width: 350px;">Today</button>
	{{/linkTo}}
</div>

<div class=" ">
	<div class=" year-bar ">
		{{#linkTo 'day' controller.yearPrev controller.monthSelected controller.daySelected}}
			<button type="button" class="btn btn-default" style="width: 50px;">Prev</button>
		{{/linkTo}}
		<span style="margin: 105px;">{{controller.yearSelected}}</span>
		{{#linkTo 'day' controller.yearNext controller.monthSelected controller.daySelected}}
			<button type="button" class="btn btn-default" style="width: 50px;">Next</button>
		{{/linkTo}}
	</div>
	<div class=" month-bar ">
		{{#linkTo 'day' controller.yearSelected controller.monthPrev controller.daySelected}}
			<button type="button" class="btn btn-default" style="width: 50px;">Prev</button>
		{{/linkTo}}
		<span style="margin: 86px;">{{controller.monthName}}</span>
		{{#linkTo 'day' controller.yearSelected controller.monthNext controller.daySelected}}
			<button type="button" class="btn btn-default" style="width: 50px;">Next</button>
		{{/linkTo}}
	</div>
</div>

<div style="width: 350px;">
	<div style="width: 350px;">
		<span title="Monday" class="week-header">Mon</span>
		<span title="Tuesday" class="week-header">Tue</span>
		<span title="Wednesday" class="week-header">Wed</span>
		<span title="Thursday" class="week-header">Thu</span>
		<span title="Friday" class="week-header">Fri</span>
		<span title="Saturday" class="week-header">Sat</span>
		<span title="Sunday" class="week-header">Sun</span>
	</div>
		{{#each week in controller.daysByWeeks}}

			<div class="btn-group">
			{{#each day in week}}
				{{#if day.day}}
					{{#if day.isCurrent}}
						{{#linkTo 'day' controller.yearSelected controller.monthSelected day.day}}
				  	<button type="button" class="btn btn-default" style="background: rgb(255, 204, 0); width: 50px;">
					  	{{day.day}}
				  	</button>	
				  	{{/linkTo}}		
				  {{else}}
				  	{{#linkTo 'day' controller.yearSelected controller.monthSelected day.day}}
						<button type="button" class="btn btn-default" style="width: 50px;">
							{{day.day}}
						</button>
						{{/linkTo}}
					{{/if}}
			  {{else}}
					<button type="button" class="btn btn-default" style="width: 50px;">&nbsp;</button>
			  {{/if}}
			{{/each}}
			</div>

		{{/each}}
</div>


</br>
</br>
<a href="#"> GoTo Root</a>